@use "../variables.scss" as vars;
@use "../mixins.scss" as mixins;

.card-wrapper {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  // max-width: fit-content;
  flex: 1 0;

  .basic-info {
    display: flex;
  }

  .card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    // align-items: center;
    // justify-content: space-between;
    padding: 20px;
    margin: 15px;
    background-color: vars.$card;
    text-align: center;
    min-width: max-content;
    // border-top: solid vars.$primary;

    @include mixins.gradient-top-border;
  }

  .photo {
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    height: 150px;
    width: 150px;
    padding: 0 0 15px 0;
  }

  .largeIcon {
    font-size: 20px;
    margin-right: 7px;
  }

  .card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

// table {
//     align-items: center;
// }
.subMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  flex-grow: 1;
  // align-items: left;
  background-color: vars.$card;
  border: solid 1px vars.$border;
  border-radius: 10px;
  padding: 10px 10px;
  min-height: 50px;
  margin: 5px;
  min-width: 100px;

  .menu-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  flex-grow: 1;
  width: 100%;
}

.menu-row {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;

  // .mini-text-below {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: space-between;
  //     width: 100%;
  //     font-size: 22px;
  //   }
}

.title {
  font-size: 25px;
  display: flex;
  // align-items:center;
  justify-content: start;
}

.subtitle {
  font-size: 11px;
  padding: 0 0 20px 0;
  color: vars.$muted-foreground;
  display: flex;
  justify-content: left;
}

.logo {
  // border-radius: 50%;
  overflow: hidden;
  // object-fit:cover;
  max-width: 150px;
  padding: 0 0 15px 0;
}

.name {
  text-align: center;
  margin: 15px;
}

.first {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: vars.$first;
  border-radius: 50%;
  color: black;
  margin: auto;
  padding: 5px;
}

.second {
  background-color: vars.$second;
}
