  @use "../variables.scss" as vars;
a {
    text-decoration: none;
}
nav {
  width: 100%;
  top: 0;
  position: fixed;
  border-bottom: solid vars.$border;
  border-top: solid vars.$border;
  backdrop-filter: blur(10px);
  background-color: vars.$nav-background;
  ul {
    margin: 5px;
    padding: 15px;
    list-style: none;
  }
  a {
    color: vars.$muted-foreground;
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 6px;
    &:hover{
      // background-color: vars.$primary;
      box-shadow: 0 0 10px vars.$primary;
      background-color: vars.$secondary;
      color: vars.$foreground;
    }
    &.active{
      background-color: vars.$primary;
      color: vars.$foreground;
    }
  }
   }

  li { display: inline-block;
    padding: 0 15px;
 
    
  }.liel{
    
    font-size: vars.$font-small ;
    color: vars.$muted-foreground;

  }.icons {
    padding: 0 10px 0 ;
    
        &.active{
      color: vars.$foreground;
    }}
  
  
 

  


.F1{
  font-size: larger;
  font-weight: bold;
  
}
.flag{
  color: vars.$primary;
}

