@use "../variables.scss" as vars;

a {
  text-decoration: none;
}

.top-navigation {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  overflow: hidden;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 6vh;
  top: 0;
  position: fixed;
  border-bottom: solid vars.$border;
  border-top: solid vars.$primary;
  backdrop-filter: blur(10px);
  background-color: vars.$nav-background;
  z-index: 9999;

  ul {
    margin: 5px;
    padding: 15px;
    list-style: none;
  }

  select {
    display: flex;
    // position: absolute;
    justify-content: space-between;
    align-items: center;

    gap: 7px;
    margin-right: 10px;
    top: 10px;
    right: 10px;

    border: 1px;
    border-radius: 6px;
    background-color: rgba(vars.$primary, 0.5);
    color: #ffff;
    padding: 7px;
    font-size: vars.$font-medium;
  }
}

// li { display: inline-block;
//   padding: 0 15px;
// }

.nav-links {
  display: flex;
  // flex-wrap: wrap-reverse;
  // justify-content: left;
  // margin-top: 3px;
  height: 54px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: vars.$font-medium;
  color: vars.$muted-foreground;

  .directories a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: vars.$muted-foreground;
    gap: 7px;
    // display: block;
    // width: 100px;
    // height: 40px;
    padding: 6px 12px;
    // margin-top: 0px;
    text-decoration: none;
    border-radius: 6px;
    border-top: solid vars.$background;

    &:hover {
      // background-color: vars.$primary;
      // box-shadow: 0 0 10px vars.$primary;
      border-top: solid vars.$primary;
      background-color: vars.$secondary;
      color: vars.$foreground;
    }

    &.active {
      background-color: vars.$primary;
      color: vars.$foreground;
      border-top: solid vars.$primary;
    }
  }
}

.li-el {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px;
}

.F1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 15px;
  font-size: larger;
  font-weight: bold;
}

.flag {
  color: vars.$primary;
}

.icons {
  &.active {
    color: vars.$foreground;
  }
}

.search-button {
  position: fixed;
  right: 0;
  top: 0;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  color: vars.$muted-foreground;
  padding: 12px 12px;
  // margin-top: 0px;
  text-decoration: none;
  border-radius: 6px;
  border-top: solid vars.$background;
  border: 1px solid vars.$muted-foreground;
  &:hover {
    // background-color: vars.$primary;
    // box-shadow: 0 0 10px vars.$primary;
    // border-top: solid vars.$primary;
    background-color: vars.$secondary;
    color: vars.$foreground;
    border: 1px solid vars.$foreground;
  }
  &:active {
    background-color: vars.$primary;
  }
}

.search-input {
  position: fixed;
  right: 6vh;
  top: 0;
  color: vars.$foreground;
  background-color: vars.$card;
  padding: 12px 12px;
  // margin-top: 0px;
  text-decoration: none;
  border-radius: 6px;
  border-top: solid vars.$background;
  border: 1px solid vars.$muted-foreground;
  z-index: 9999;
}
