@use "../variables.scss" as vars;

.table-wrapper {
  display: flex;
  flex-direction: column;
  min-width: min-content;
  flex-grow: 2;
  margin-top: 10px;
  // border: 1px solid;
  border-radius: 10px;
  color: vars.$primary;
  padding: 10px;
  border-top: solid vars.$primary;
}

h4,
h3,
h2,
h1 {
  color: vars.$muted-foreground;
  text-align: center;
}

.table {
  color: vars.$primary;
  background-color: vars.$background;
  text-align: center;
  // border-collapse: separate;
  width: 100%;

  th,
  tr,
  td {
    padding: 5px 15px;
    align-content: center;
    align-items: center;
  }

  tr {
    border-bottom: 1px solid vars.$border;
  }

  tr:hover {
    background-color: vars.$secondary;
  }

  .table-row {
    border-radius: 10px;
    border-top: 10px;
  }

  .flag-name {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
  }
}

h4 {
  text-align: center;
  font-size: large;
}

.page-wrapper {
  display: flex;
  flex-wrap: wrap;
}
