@use "../variables.scss" as vars;

.table-wrapper {
    display: flex;
    flex-direction: column;
    min-width: min-content;

}

.tabelus {
    color: vars.$primary;
    background-color: vars.$background;
    text-align: center;
    width: 100%;
    border-collapse: collapse;


    th,
    tr,
    td {
        padding: 5px 15px;
        align-content: center;
        align-items: center;
    }

    tr {
        border-bottom: 1px solid vars.$border;
    }



    tr:hover {
        background-color: vars.$secondary;
    }

    .flag-name {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 100%;
    }
}


h4 {
    text-align: center;
    font-size: large;
}

.page-wrapper {
    display: flex;
    flex-wrap: wrap;
}