@use "./variables.scss" as vars;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  padding-top: 6vh;
  font-family: "Inter", "Helvetica", sans-serif;
  background-color: vars.$background;
  color: vars.$foreground;
}

a {
  color: vars.$foreground;
  transition: all 0.3s ease;
  &:hover {
    color: vars.$primary;
  }
}

td {
  color: vars.$foreground;
}

.icon {
  height: 0.9em;
  width: 0.9em;
}

.color-primary {
  color: vars.$primary;
}

.primary {
  color: vars.$primary;
}
.loader-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 86vh;
  color: vars.$primary;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  z-index: 1;
  background-color: vars.$background;
  font-size: vars.$font-small;
  color: vars.$muted-foreground;
  height: 6vh;
  margin: 0 20px;
}

.just-left {
  text-align: left;
}
.just-right {
  text-align: right;
}
.just-center {
  text-align: center;
}

.page {
  min-height: 86vh;
}

.landing-video {
  height: 100vh;
  z-index: 2;
}

.wrapped-title-seasons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.seasons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
  height: 36px;

  color: vars.$primary;
  background-color: vars.$secondary;
  color: vars.$foreground;
  border-radius: 5px;
  // border-top: solid vars.$primary;
  border: solid vars.$primary; //crveni border
}

.seasons:hover {
  background-color: vars.$primary;
  border-top: solid vars.$primary;
  padding: 8px 10px;
  font-size: 16px;
  color: white;
  border-radius: 5px;
  height: 36px;
}

.seasons select {
  background-color: transparent;
  border: none;
  padding: 8px 10px;
  font-size: vars.$font-medium;
  color: white;
  border-radius: 6px;
  padding: 6px 12px;
  box-shadow: none;
  outline: none;
}

.nav-links {
  display: flex;
  height: 54px;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-size: vars.$font-medium;
  color: vars.$muted-foreground;

  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: vars.$muted-foreground;
    gap: 7px;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 6px;
    border-top: solid vars.$background;

    &:hover {
      border-top: solid vars.$primary;
      background-color: vars.$secondary;
      color: vars.$foreground;
    }

    &.active {
      background-color: vars.$primary;
      color: vars.$foreground;
      border-top: solid vars.$primary;
    }
  }
}
