@use "./variables.scss" as vars;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  padding-top: 60px;
  font-family: "Inter", "Helvetica", sans-serif;
  background-color: vars.$background;
  color: vars.$foreground;
  // height: vh100;
}

a {
  color: vars.$foreground;
  &:hover {
    color: vars.$primary;
  }
}

td {
  color: vars.$foreground;
}

.icon {
  height: 0.9em;
  width: 0.9em;
}

.color-primary {
  color: vars.$primary;
}

.primary {
  color: vars.$primary;
}
.loader-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
  color: vars.$primary;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;

  margin: 15px;
  padding: 5px;
  border-top: vars.$border;
  font-size: vars.$font-small;
  color: vars.$muted-foreground;
}
.footdiv {
  min-width: px;
}
.footdiv1 {
  min-width: px;
}
