.driver-card {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

}

.photo{
   border-radius: 50%;
   overflow: hidden;
   object-fit:cover;
   height:200px;
   width:200px;
}