@use "./variables.scss" as vars;
@mixin gradient-top-border(
  $height: 6px,
  $radius: 10px,
  $start-color: vars.$primary,
  $end-color: vars.$card
) {
  position: relative;
  border-radius: $radius;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: $height;
    width: 100%;
    background: linear-gradient(to right, $start-color, $end-color);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index: 1;
  }
}
