

//Colors
// $background: #030712;
$background:#030712;

$foreground: #f8fafc;
// $card: #111827;
$card:#15151E;
$card-foreground: #f8fafc;
$primary: 	#FF1E00;
$primary-foreground: #f8fafc;
$secondary: #1e293b;
$secondary-foreground: #111827;
$muted: #1e293b;
$muted-foreground: #94a3b8;
$accent: #1e293b;
$accent-foreground: #111827;
$border: #1e293b;
$ring: #e11d48;
$desctructive: #ef4444;
$nav-background: #03071269;



//Typography 

$font-small: 10px;
$font-medium: 12px;
$font-large: 20px;



// @font-face {
//     font-family: "Inter";
//     src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// }
