$background: #05080f;
$foreground: #f8fafc;
$card: #080c16;
$card-foreground: #f8fafc;
$primary: #dc2828;
$primary-foreground: #f8fafc;
$secondary: #1e293b;
$secondary-foreground: #111827;
$muted: #1e293b;
$muted-foreground: #94a3b8;
$accent: #1e293b;
$accent-foreground: #111827;
$border: #1e293b;
$ring: #e11d48;
$desctructive: #ef4444;
$nav-background: #03071269;
$first: #ffd700;
$second: #c0c0c0;
$third: #cd7f32;
$topten: #3fa7d6;
$fifth: #34c38f; 
$afterfive: #e35b8f;
$after: #00bfa6;

// $first: #f7c813;
// $second: #dbdee3;
// $third: #c76607;
// $topten: #1db756;
// $fifth: #90d5ff;
// $afterfive: #;
// $after: #414b5a;
$muted-highlight: #080c16;
$details: #7a879a;
$table: #080c16;

//Typography

$font-small: 10px;
$font-medium: 17px;
$font-large: 20px;

// @font-face {
//     font-family: "Inter";
//     src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
// }
